h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  color: cornflowerblue;
}

html {
  background-color: rgb(228, 218, 218);
}

.music {
  color: peru;
}

.gaming {
  color: rgb(6, 184, 6);
}

.drawing {
  color: salmon;
}
